/*
    Author : RIZIELLE SABADO
    Last Modified : 18-MAR-2016
*/

@charset "windows-1252";

@import url("animate.css");

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Sticky footer styles*/
html {
    min-height: 100%;
    position: relative;
}

body {
    /* Margin bottom by footer height */
    background: url("../images/bgright.png") ;
    background-image : url("../images/bgright.svg") ;
    background-repeat : no-repeat;
    background-position: top right;
    background-size: 20%;
    font-family: 'robotoregular', Arial, sans-serif;margin-bottom: 60px;
    font-size: 13px;
    line-height: 20px;
}


a:hover{
    text-decoration: none
}

/*General Header*/
header,
header img{
    margin-bottom: 15px;
    margin-top: 15px;
    max-height: 95px;
}

/*Index Section*/
.index-section{
    background: url("../images/bgleft.png") ;
    background-image : url("../images/bgleft.svg") ;
    background-repeat : no-repeat;
    background-position: bottom left;
    background-size: 20%;
    margin-top: 20px;
    min-height: 80vh;
    padding-bottom: 50px;
}

/*Login and Announcement*/
.login-box,
.announce-box{
    background: #fff;
    border-radius: 0px 0px 4px 4px;   
}

    .login-box{
        border: 1px solid #F4BB00;
        padding:  10px;
    }
    
    .announce-box{
        border: 1px solid #FE2E2E;
        padding: 10px;
    }
    
        .announce-box p{
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }
        
            .announce-box p:last-child{
                border-bottom: none;
            }
/*Gateway CSS*/        
.gateway{
    min-height: 80vh;
}

    a.hvr-pop img{
        margin-bottom: 20px;
        width: 100%;
     /*   -moz-transition:-moz-transform 0.4s ease-in; 
        -webkit-transition:-webkit-transform 0.4s ease-in; 
        -o-transition:-o-transform 0.4s ease-in;
        z-index:2;    */
    }

   /* a.grow:hover img { 
        -moz-transform:scale(1.2); 
        -webkit-transform:scale(1.2);
        -o-transform:scale(1.2);
        z-index:2; 
    }*/

/*Broadcast Section*/
.broadcast-section{
    min-height: 50vh !important;
    padding-bottom: 50px;
    padding-top:30px;
}

/*Portal Section*/
.portal-section{
    background: #fff;
    min-height: 50vh !important;
    padding-bottom: 50px;
    padding-top:30px;
}

    .portal-section h3{
        margin-top: 0 !important;
    }
    
    .portal-section .list-group-item{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

/*Customized*/
.side-label {
    background: #3CC1F3;
    border-radius: 3px;
    color: #fff;
    display: block;
    margin-bottom: 2px;
    padding: 10px;
}

.text-white,
a.text-white{
    color: #fff;
}

.text-gold,
.text-gold a{
    color: #fdc601;
}

.text-error{
    font-size: 11px;
    color: #b94a48 !important;
}

.form-margin-right{
    margin-right: 5px;
}

.form-margin-left{
    margin-left: 5px;
}

.form-margin-bottom{
    margin-bottom: 5px;
}

.btn-right-margin{
    margin-right: 5px;
}

#imageholder {
    width: 150px;
}

.small{
    font-size: 80%;
}

.divider {
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    margin: 15px 0px;
    height: 4px;
    border-width: 1px 0px;
    border-style: solid none;
    border-color: #CCC;
    text-align: center;
    position: relative;
    clear: both;
}

hr{
    margin-top: 5px;
}

.header-label-box{
    background: #fff;
    border-bottom: 2px solid #F4BB00;
    margin-bottom: 30px;
}

    .header-label-panel,
    .header-label-box-inner,
    .header-label-panel-red{
        color: #fff;
        padding: 10px;
    }
    
    .header-label-panel,
    .header-label-panel-red{
        border-radius: 4px 4px 0px 0px ;    
        margin: 0;
    }
    
        .header-label-panel{
            background: #F4BB00;    
        }
    
        .header-label-panel-red{
            background:#FE2E2E;
        }
    
        .header-label-box-inner{
            background: #333;
            border-radius: 4px;
        }
        
.academic-box{
    padding: 10px 0px ;
}

#education dl,
#degrees dl,
#exam dl{
    margin-bottom: 0;
}

/*Bypass JQuery UI Dateoicker*/
.ui-datepicker-title{
    color: #444;
}

div.dataTables_length label
{
    margin-top: 5px;
    margin-left: 10px;
}

div.dataTables_filter label{
    margin-top: 5px;
    margin-right: 10px;
}

.dataTables_info{
    margin-top: 0px;
    margin-left: 20px;
}

div.dataTables_paginate ul.pagination{
    margin-top: 0px;
    margin-right: 20px !important;
}

.dataTables_wrapper{
    background: #FCF8E3;
}

    .dataTables_wrapper tr td{
        background: #fff;
    }


.img-small{
    width: 25px !important;
}

.img-leave{
    margin: 0px auto;
    display: block;
}

.img-leave-inline{
    display: inline-block;
}


/* Custom Colored Panels */
.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

    .panel-green .panel-heading {
        background-color: #5cb85c;
        border-color: #5cb85c;
        color: #fff;
    }

    .panel-green a {
        color: #5cb85c;
    }

        .panel-green a:hover {
            color: #3d8b3d;
        }

.panel-red {
    border-color: #d9534f;
}

    .panel-red .panel-heading {
        background-color: #d9534f;
        border-color: #d9534f;
        color: #fff;
    }

    .panel-red a {
        color: #d9534f;
    }

        .panel-red a:hover {
            color: #b52b27;
        }

.panel-yellow {
    border-color: #f0ad4e;
}

    .panel-yellow .panel-heading {
        border-color: #f0ad4e;
        color: #fff;
        background-color: #f0ad4e;
    }

/*Footer*/
footer {
    background: #000;
    bottom: 0;
    color: #fff;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 10px;
    margin-top: 20px;
    padding: 10px 0;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    z-index: -99999;
} 

/*Overwrite Bootstrap*/
.btn-link:hover{
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a{
    color: #F4BB00;
}

.navbar{
    border-radius : 0;
    margin-bottom: 0;
    min-height: auto;
}

    .navbar-nav > li > a {
        padding: 10px;
    }

.navbar-toggle{
    margin-bottom: 10px;
    margin-top: 10px;
}

ul.list-group {
    list-style: none ;
}

    .list-group a{
        background: #efefef;
        border-radius: 4px;
            -webkit-border-radius: 4px;
        display: block;
        margin-bottom: 3px;
        padding: 5px;
        position: relative;
        text-decoration: none;
        /*transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;        */
    }
 
       /* .list-group a:hover{
            background: #fdc601;
            color: #333;
        }*/
        


.affix {
      top: 55px;
  }
  
.btn-right {
    margin-right: 10px;
}

.pager-nav a small{
    color: #428bca;
}

.pager-nav a:hover{
    text-decoration: none;
}

.display-inline{
    display: inline;
}

.text-capitalize,
a.text-capitalize{
    text-transform : uppercase;
}

/*Responsive*/

@media (min-width: 768px){
    .dl-horizontal dt{
        width: 135px;
    }
    
    .dl-horizontal dd {
        margin-left: 145px;
    }
}

@media (max-width : 319px){
     body{
        background: #fff;
    }
    
     header{
        background: #fff;
        padding-bottom: 10px;
      }
    
    #notification-count {
        background-color: #d9534f;
        border-radius: 100px;       
        box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
        color: #fff;
        font-size:0.7em;
        height: 1.6em;
        margin-left:60%;
        margin-top: 5px;
        min-width:1.6em;
        overflow: hidden;
        padding: 2px;
        position:absolute;
        text-align:center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
        width: auto;
        z-index:3;
    }
    
    .gateway h2{
        font-size: 15px;
        margin-top: 0;
    }
    
    .gateway h4{
        font-size: 10px;
        margin-bottom: 0;
    }
    
    footer{
        font-size: 8px;
        padding-bottom: 50px;
    }
    
    .index-section{
        background: 0;
        padding-bottom: 0;
    }
}

@media  only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 568px) 
        and (orientation : landscape) 
{ 
        
    body{
        background: #fff;
    }
    
    header{
        background: #fff;
        padding-bottom: 10px;
      }
    
    #notification-count {
        background-color: #d9534f;
        border-radius: 100px;
        color: #fff;
        font-size:1em;
        height: 2em;
        margin-left:85%;
        margin-top: 5%;
        min-width:2em;
        overflow: hidden;
        padding-top: 0.25em;
        position:absolute;
        text-align:center;
        width: auto;
        z-index:3;
    }
    
    .gateway h2{
        font-size: 18px;
        margin-top: 0;
    }
    
    .gateway h4{
        font-size: 12px;
        margin-bottom: 0;
    }
    
    footer{
        font-size: 8px;
        padding-bottom: 50px;
    }
    
    .index-section{
        background: 0;
        padding-bottom: 0;
    }
}

@media  only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 568px) 
        and (orientation : portrait) 
{ 
    body{
        background: #fff;
    }
    
     header{
          background: #fff;
          padding-bottom: 10px;
      }
    
    #notification-count {
        background-color: #d9534f;
        border-radius: 100px;
        color: #fff;
        font-size:1em;
        height: 2em;
        margin-left:78%;
        margin-top: 5%;
        min-width:2em;
        overflow: hidden;
        padding-top: 0.25em;
        position:absolute;
        text-align:center;
        width: auto;
        z-index:3;
    }
    
    .gateway h2{
        font-size: 18px;
        margin-top: 0;
    }
    
    .gateway h4{
        font-size: 12px;
        margin-bottom: 0;
    }
    
    footer{
        font-size: 8px;
        padding-bottom: 50px;
    }
    
    .index-section{
        background: 0;
        padding-bottom: 0;
    }
}

@media  (min-device-width : 569px) and 
        (max-device-width : 767px)
{
    body{
      background: #fff;
    }
    
     header{
          background: #fff;
          padding-bottom: 10px;
      }
    
    .name-div{
        background: #fdc601;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }
    
    #notification-count {
        background-color: #d9534f;
        border-radius: 100px;
        color: #fff;
        font-size:1em;
        height: 2em;
        margin-left:88%;
        margin-top: 5%;
        min-width:2em;
        overflow: hidden;
        padding-top: 0.25em;
        position:absolute;
        text-align:center;
        width: auto;
        z-index:3;
    }
}

.loading-gif{
    display: block;
    margin: 0 auto;
    width: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
    header{
          background: #fff;
          margin-top: 0;
          padding-bottom: 10px;
          padding-top: 10px;
    }
    
    body{
        background: #fff;
    }

    .name-div{
        background: #fff;
        color: #000;
        margin-top: -15px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    #notification-count {
        background-color: #d9534f;
        border-radius: 100px;
        color: #fff;
        font-size:1em;
        height: 2em;
        margin-left:85%;
        margin-top: 5%;
        min-width:2em;
        overflow: hidden;
        padding-top: 0.25em;
        position:absolute;
        text-align:center;
        width: auto;
        z-index:3;
    }
}

@media  (min-width: 992px) and 
        (max-width: 1199px) 
{
    header{
      background: #fff;
      margin-top: 0;
      padding-bottom: 10px;
      padding-top: 10px;
  }

    .name-div{
        background: #fff;
        color: #000;
        margin-top: -25px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    #notification-count {
        background-color: #d9534f;
        border-radius: 100px;
        color: #fff;
        font-size:1em;
        height: 2em;
        margin-left:78%;
        margin-top: 5%;
        min-width:2em;
        overflow: hidden;
        padding-top: 0.25em;
        position:absolute;
        text-align:center;
        width: auto;
        z-index:3;
    }
    
    .gateway h2{
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .name-div{
        color: #000;
        margin-top: -60px;
        padding-bottom: 40px;
    }
    
    #notification-count {
        background-color: #d9534f;
        border-radius: 100px;
        color: #fff;
        font-size:1em;
        height: 2em;
        margin-left:80%;
        margin-top: 5%;
        min-width:2em;
        overflow: hidden;
        padding-top: 0.25em;
        position:absolute;
        text-align:center;
        width: auto;
        z-index:3;
    }
    
    .gateway h2 {
        display: block;
        margin-top: 50px;
    }
}

/* Off Canvas*/ 

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


.table-borderless td,
.table-borderless th,
.table-borderless
{
    border: 0 !important;
}

.th-right th{
    text-align: right;
}

.link-header button{
    display: block;
    width: 100%;
    text-align: right;
    padding: 0;
}

a.link-header{
    padding: 0;
}

.panel-bal-height{
    display: block;
    min-height: 160px !important;
}

.name-phone{
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fdc601;
    color: #fff;
}

    .name-phone a{
        color: #fff;
    }
    
.label-phone{
    font-size: 18px;
    padding-bottom: 5px;
}

    .label-phone a{
        display: block;
        padding-top: 10px;
    }
    
.block{
    display: block;
    padding-top: 10px;
    margin-bottom: -20px;
    text-align: left;
    width: 100%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    flex-flow: row wrap;
}

/*Update Warning*/
.buorg {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid red;
    background: no-repeat 1em 0.55em url(http://browser-update.org/img/dialog-warning.gif);
    background-color: red !important;
    font-weight: bold;
    cursor: pointer;
    color: #fff !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px !important;
}

div.dataTables_length label
{
    margin-top: 5px;
    margin-left: 10px;
}

div.dataTables_filter label{
    margin-top: 5px !important;
    margin-right: 10px;
     float: right;
}

.dataTables_info{
    margin-top: 0px;
    margin-left: 20px;
}

div.dataTables_paginate{
    margin-top: -10px;
    margin-right: 20px !important;
    margin-bottom: 5px;
    float: right;
}

.dataTables_wrapper{
    background: #FCF8E3;
}

    .dataTables_wrapper tr td{
        background: #fff;
    }

.frm-inline{
    display: inline;
}

.btn-space-bottom {
    margin-bottom: 5px;
    margin-top: 0;
}

.remove-margin{
    margin-left: -15px !important;
}


/*.optional-select select option {
   color: black;
}
.optional-select select:not(:checked) {
   color: #999;
}
.optional-select option {color: #000;}
.optional-select option:first-child{
    color: #666;
}*/


.hide-field{
    display: none;
}

.show-field{
    display: none;
}

.badge{
    padding: 4px 7px;
    background: #D9534F;
    font-size: 11.5px;
}

.table{
    margin-bottom: 0px !important;
}