@charset "utf-8";
/* CSS Document */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	text-align:center;
	/*background-image: url(../images/mainback.jpg);
	background-repeat: repeat-x;*/
	background-color: #efefef;
}

a, a:link, a:active, a:visited {
	font-family: "Trebuchet MS", san-serif, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
        /*color: #1d7787;*/
	color: #0000FF;
        text-decoration: underline; 
        
}

a:hover {                                               /*link hover color*/
	text-decoration: none;
	color: rgb(255,132,0);
}

#container {
	width:957px;
	padding:0px;
	text-align:left;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color:#FFFFFF;
}

header{
    background: #fff;
    border-bottom: 5px solid #fdc601;
}

#header_container {
	width:945px;
	height:100px;
        background-repeat: no-repeat;
	background-color: #fff;
        background-image: url(../images/my_uste_banner.jpg);
        margin-left: 10px;
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 5px;
}

#navigation_container {
	float: left;
	width: 957px;
	height: 56px;
	text-align: right;
}

#body_main_container {
        float:left;
        width:957px;
        min-height: 85vh;
}

#body_container1 {
	margin-top: 37px;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
        /*min-height: calc(100vh - 120px);
	 background-image: url(images/poweredby.png);
	background-position: left bottom;
	background-repeat: no-repeat; */
}
#container_body_left {                                      /*use for myGrades*/
	float:left; 
	  width: 240px;
	  margin-right: 5px;
          margin-left: 10px;
        display: inline;
}

#container_body_left ul {
	list-style-image: url(../images/pointer_orange.gif);
}

#container_body_right {                                     /*use for myGrades*/
	float:left; 
        padding-left: 25px;
        width: 630px;
        border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #dadada;
        padding-bottom: 10px;
}

#footer {
	font-weight: normal;
	color:#FFFFFF;
	background-color:#222;
	width:955px;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
	clear:both;
        border-top: 5px solid #fdc601;
}


.error_style {
	font-size: 11px;
	font-weight: normal;
        color:red;
	text-align: center;
        background-color: #fcfdeb;
}

#container_body_left_inside {                                   /*use for billing*/
	float:left;
        width: 180px;
          margin-top: 10px;
	  margin-right: 20px;
          margin-left: 10px;
        display: inline;
        font-size: 0.9em;
}

#container_body_left_inside ul {                                /*online enrolment*/
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	padding-left: 30px;
	list-style-image: url(../images/pointer_orange.gif);
}

#container_body_left_inside a, #container_body_left a {         /*online enrolment*/
	text-decoration: none;
}

#container_body_right_inside {                                      /*use for billing*/
	float:left; 
        padding-left: 20px;
        width: 689px;
        border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #dadada;
        padding-bottom: 10px;
}


.value {                                                            /*advising font color*/
	color: #b94708;	
	font-weight: normal;
}

.firstrow {
	background-color:rgb(247,247,247);
}

ul#nav a {
	display: block;
	width:auto;
}

ul#nav,ul#nav li, ul#nav li ul, ul#nav li ul li {
	list-style-type:none;
	list-style-image: none;
}

ul#nav,ul#nav li, ul#nav li ul, ul#nav li ul li {
	margin:0;
	padding:0;
}

ul#nav a img,ul#nav a:active img {
	border-style: none;
}

ul#nav li {
	float: right;
}

#admin_menu {
	width:937px;
	height:35px;
	float:left;
	clear:both;
        background: #333;
	color:#FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}

ul#nav2 {
	list-style-type: none;
	color:#FFFFFF;
	font-size: 17px;
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
}

ul#nav2 li {
	float:left;
	padding-right: 10px;
	list-style-type:none;
	list-style-image: none;

}

ul#nav2 li a:link, ul#nav2 li a:active, ul#nav2 li a:visited {
	font-family: san-serif, Arial, Helvetica;                  /*menu font*/
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;	
        padding-top: 3px;
        display: block;
}

ul#nav2 li a:hover {
	color: rgb(255,132,0);                                      /*admin menu hover color*/
}

ul#nav2 li ul li {
	list-style-type:none;
	list-style-image: none;
}

ul#nav2 li ul, ul#nav2 li ul li {
	margin:0;
	padding:0;
}

ul#nav2 li:hover ul {
	/* margin-top:-20px; */
     margin-top:0px;
     /*margin-left: -12px;*/
     left: auto;
}

ul#nav2 li.sfhover ul {
	margin-top:0px;
	left: auto;
}

ul#nav2 li ul {
	position: absolute;
	width: 165px;
	left: -999em;
	padding-top: 3px;
	padding-bottom: 5px;
        background-color:#f6d8c7;
	/*border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;*/
}

ul#nav2 li ul li {
  /*width: 8em;*/
  margin-left: 0px;
  width: 11em;
  float:left;
  clear:both; 
  padding-left: 10px;
  padding-bottom: 5px;
  
}
ul#nav2 li ul li a:link, ul#nav2 li ul li a:active, ul#nav2 li ul li a:visited {
	text-decoration:none;
	font-family: "Trebuchet MS", san-serif, Arial, Helvetica;
	font-size:12px;
	color:#000000;
	font-weight: bold;
	font-style: normal;
}
ul#nav2 li ul li a:hover {
   color: #b94708;                                          /*menu hover color*/
   text-decoration:none;
}

.noscript {
    border: 1px red solid;
    color: red;
    text-align: center;
    width: 955px;
    float: left;
    margin: 0;
    padding: 5px 0 5px 0;
    display: block;
}

ol li p {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#tableleft {
    width: 50%;
    float: left;
    margin: 0 0 0 5%;
    display: inline;
}
#tableright {
    width: 40%;
    float: right;
    margin: 0 5% 0 0;
    display: inline;
}

    div#tableright:after{
        clear: both;
    }

.clearfix{
    clear: both;
}

/*Table definition*/

table {
    color: rgb(99,74,0);                                     /*font color*/
    font: 90%/110% "Trebuchet MS", san-serif, Arial, Helvetica;
}
table a, table, tbody, tfoot, tr, th, td {
    font-family: "Trebuchet MS", san-serif, Arial, Helvetica;
}

table caption {
    font-size: 1.8em;
    text-align: left;
    text-indent: 100px;
    background: url(images/bg_caption.gif) left top;
    height: 40px;
    color: #FFFFFF;
    border:1px solid #000000;
}

thead tr td {
/*    background: #ffdb63;*/
    background-image: url(../images/15.gif);
    height: 25px;
    color: #aa860e;
    font-size: 12px;
    font-family: "Trebuchet MS", san-serif, Arial, Helvetica;
    font-weight: normal;
    padding: 3px 7px;
    margin: 0px;
/*    border-bottom: 6px solid #aa860e;     */
}


tbody tr {	
    background: #ffffff;                                            /*white row*/
}

tbody tr.odd {	
    background: #fcfdeb;                                            /*gray row*/
}

tbody th, tbody td {
    font-size: 11px;
    line-height: 13px;
    font-family: "Trebuchet MS", san-serif, Arial, Helvetica;
    color: #000000;
    padding: 7px 7px;
      /*border-bottom: 1px solid #aa860e;           */
      /*border-right: 1px solid #aa860e;            */
}

tfoot th, tfoot td {                                                    /*footer*/
    background: #ffdb63;
    height: 25px;
    color: #aa860e;
    font-size: 11px;
    font-family: "Trebuchet MS", san-serif, Arial, Helvetica;
    font-weight: normal;
    padding: 3px 7px;
    margin: 0px;
    border-bottom: 1px solid #aa860e;
}

/*end table definition*/

td.left_header{
	background-image: url(../images/left_header.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 7px;
}

td.mid_header{
	background-image: url(../images/middle_header.gif);
	background-repeat: repeat-x;
	height: 30px;
	/*padding-left: 5%;
	padding-right: 5%;*/
	text-align: center;
}

td.right_header{
	background-image: url(../images/right_header.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 7px;
}

/*end nifty corners*/


/*start label*/
.sub_header {
    background-color: #f3eecc;
    color: #b94708;
}

.sub_content {
    background-color: #fcfdeb;
}

.sub_color {                                            /*table column font-color, online procedures*/
    color: #000000;/*#b94708;*/
    font-weight: bold;
    font-size: 11px;
}

.sub_footer{
    color: #b94708;
    font-size: 11px;    
}

.expand {                                               /*assessment toggle*/
    background-color: #e1ddc3;
}

.total_fees {
    background-color: #e1ddc3; /*#fcfdeb;*/
}

#label1 {
    color: #b94708; 
    font-family: "Trebuchet MS", Verdana, Arial; 
    font-size: 14px; 
    font-weight: bold;
}

#label2 {                                                   /*billing notes font*/
    color: #6b6a65; 
    font-family: "Trebuchet MS", Verdana, Arial; 
    font-size: 11px; 
    font-weight: normal;
    text-align: center;
}

#label3 {
    color: #b94708; 
    font-family: "Trebuchet MS", Verdana, Arial;
    font-size: 20px; 
    font-weight: bold;
}

#label4 {                                                       /*step 1/3 fonts*/
    color: rgb(198,198,198); 
    font-family: "Trebuchet MS", Helvetica, Arial;
    font-size: 12px;
    font-weight: normal;
    
}

.notes {
     background-color: #fcfdeb;
     /*color: #6b6a65;*/
     /*color: #b94708*/
}


.header_title1 {
	font-family: Arial, san-serif, Arial, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: #b94708;                                           /*label color online enrolment*/
}

.header_title2 {
	margin-top: 0px;
	padding-top: 0px;
	color: #b94708;	                                            /*label color advising welcome*/
	font-size:20px;
}

.header_title3 {
	margin-top: 0px;
	padding-top: 0px;
	color: rgb(198,198,198);	                                            /*Advising note*/
	font-size:11px;    
}

.current_page {
        color:#b94708;
        font-size:12px;
        font-weight: normal;
        font-family: "Trebuchet MS", Helvetica, Arial;
}


#link_style1 {
	text-decoration: none;
	color: #b94708;    
}

a#link_style1 visited {
	font-family: "Trebuchet MS", san-serif, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
        /*color: #1d7787;*/
	color: #0000FF;   
}

/*end label*/



/*start legend*/

.legend {
    background-color: #fcfdeb; 
    color: #aa860e; /*#b94708;   */
}

/*end legend*/

/* guidelines metrobank styles */

ul.metro li {
        list-style-image: none;
        list-style-type: decimal;
}

ul.metro li ul {
        margin-top: 10px;
        margin-bottom: 10px;
}

ul.metro li li li {
        list-style-image: none;
        list-style-type: disc;
}

ul.metro li li {
        list-style-image: none;
        list-style-type: lower-alpha;
}

ul.metro li ul.disc li {
        list-style-image: none;
        list-style-type: disc;
}

.accordionButton {
   background-image:url("../images/15.gif");
   font-weight: bold;
   padding:3px 7px;
   cursor: pointer;
}

.accordionContent {
   padding-top: 5px;
   padding-bottom: 5px;
}

.accordionContent td {
   padding: 3px 7px;
}

/* end of metrobank guidlines styles */

.error {
    color: #FF0000;
    text-align: center;
    font-weight: bold;
}

/*sss styles*/

.sssQuestHeader{
    background-image: url(../images/15.gif);
    height: 25px;
    padding: 3px 7px;
}

/* proper css styles for guidelines and announcement */
ol.ol_capitalLetter li {
	list-style-type: upper-alpha;
	margin-top: 5px;
	margin-bottom: 5px;
}

ol.ol_capitalLetter li ol {
	margin-top: 7px;
	margin-bottom: 7px;	
}

ol.ol_numbers li {
	list-style-type: decimal;
	margin-top: 5px;
	margin-bottom: 5px;
}

ol.ol_lettersmall li {
	list-style-type: lower-alpha;	
	margin-top: 5px;
	margin-bottom: 5px;
}

ol.ol_letter_i li {
	list-style-type: lower-roman;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* end of guidelines and announcement styles */

/* evaluation css styles */
table.tblevaluateelist {
    margin-left:1%;
    margin-right:auto;
    width:99%;
}

table.tblevaluateelist tbody td {
    width:20%; 
    text-align:center; 
    vertical-align:top;
}

table.tblevaluationpartial {
    margin-left:auto;
    margin-right:auto;
}

table.tblevaluationfull,
table.tblevaluation{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

table.tblevaluationfull tbody td{
    font-family: Arial, san-serif, Arial, Helvetica;
    line-height: 1.5em;
    font-size:12px;
}

table.tblevaluationfull thead td.tdcategory,
table.tblevaluationfull tbody td.tdquestion {
    font-size: 16px;
}

table.tblevaluationfull tbody td.tdquestion span.failresponserequired {
    float:left; 
    width:3%;
    font-size:30px;
    font-weight:bold;
    color:red;
}

table.tblevaluationfull tbody td.tdratingscale span.ratingSelected {
    font-size:20px;
    font-weight:bold;
    color:blue;
}

table.tblevaluationfull tbody td.tdratingscale span.ratingTextSelected{
    color:blue;
}

table.tblevaluationfull thead td.tdcategory span.categoryno,
table.tblevaluationfull tbody td.tdquestion span.questionno {
    float:left; 
    width:4%;
}

table.tblevaluationfull thead td.tdcategory span.categorytext,
table.tblevaluationfull tbody td.tdquestion span.questiontext {
    float:left;
    width:91%;
}

table.tblevaluationfull tbody td.tdratingscale {
    font-size: 12px;
}

table.tblevaluationfull tbody td.tdratingscale ul{
    list-style: none;
    margin:0;
}

table.tblevaluationfull tbody td.tdratingscale li:hover {
    color:blue;
}

table.tblevaluationfull tbody td.tdratingscale li span.ratingvalue {
    float:left;
    width:5%;
    text-align:center;
}

table.tblevaluationfull tbody td.tdratingscale li span.ratingtext {
    float:left;
    width:95%;
}

.success {
    font-weight:bold;
    color:green;
}

.fail {
    font-weight:bold;
    color:red;
}
    
/* evaluation css styles */